<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luo.yiting.mapper.ShareOrderMapper" >
  <resultMap id="BaseResultMap" type="com.luo.yiting.bean.ShareOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="startTime" property="starttime" jdbcType="TIME" />
    <result column="endTime" property="endtime" jdbcType="TIME" />
    <result column="parkId" property="parkid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="license_plate" property="licensePlate" jdbcType="VARCHAR" />
    <result column="shareId" property="shareid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, price, startTime, endTime, parkId, status, userId, license_plate, shareId, remark, 
    createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luo.yiting.bean.ShareOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luo.yiting.bean.ShareOrderExample" >
    delete from share_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luo.yiting.bean.ShareOrder" >
    insert into share_order (id, price, startTime, 
      endTime, parkId, status, 
      userId, license_plate, shareId, 
      remark, createTime)
    values (#{id,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{starttime,jdbcType=TIME}, 
      #{endtime,jdbcType=TIME}, #{parkid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{licensePlate,jdbcType=VARCHAR}, #{shareid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.luo.yiting.bean.ShareOrder" >
    insert into share_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="parkid != null" >
        parkId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="licensePlate != null" >
        license_plate,
      </if>
      <if test="shareid != null" >
        shareId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIME},
      </if>
      <if test="parkid != null" >
        #{parkid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="licensePlate != null" >
        #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="shareid != null" >
        #{shareid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luo.yiting.bean.ShareOrderExample" resultType="java.lang.Integer" >
    select count(*) from share_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update share_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIME},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIME},
      </if>
      <if test="record.parkid != null" >
        parkId = #{record.parkid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.licensePlate != null" >
        license_plate = #{record.licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="record.shareid != null" >
        shareId = #{record.shareid,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update share_order
    set id = #{record.id,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      startTime = #{record.starttime,jdbcType=TIME},
      endTime = #{record.endtime,jdbcType=TIME},
      parkId = #{record.parkid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      license_plate = #{record.licensePlate,jdbcType=VARCHAR},
      shareId = #{record.shareid,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luo.yiting.bean.ShareOrder" >
    update share_order
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="parkid != null" >
        parkId = #{parkid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="licensePlate != null" >
        license_plate = #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="shareid != null" >
        shareId = #{shareid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luo.yiting.bean.ShareOrder" >
    update share_order
    set price = #{price,jdbcType=REAL},
      startTime = #{starttime,jdbcType=TIME},
      endTime = #{endtime,jdbcType=TIME},
      parkId = #{parkid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      license_plate = #{licensePlate,jdbcType=VARCHAR},
      shareId = #{shareid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>