<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luo.yiting.mapper.UserShareParkMapper" >
  <resultMap id="BaseResultMap" type="com.luo.yiting.bean.UserSharePark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="plot" property="plot" jdbcType="VARCHAR" />
    <result column="parklotId" property="parklotid" jdbcType="CHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="submitTime" property="submittime" jdbcType="TIMESTAMP" />
    <result column="passTime" property="passtime" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="startTime" property="starttime" jdbcType="TIME" />
    <result column="endTime" property="endtime" jdbcType="TIME" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="review" property="review" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userId, longitude, latitude, address, pic, description, plot, parklotId, number, 
    size, phone, name, submitTime, passTime, price, day, startTime, endTime, province, 
    city, review, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luo.yiting.bean.UserShareParkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_share_park
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_share_park
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_share_park
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luo.yiting.bean.UserShareParkExample" >
    delete from user_share_park
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luo.yiting.bean.UserSharePark" >
    insert into user_share_park (id, userId, longitude, 
      latitude, address, pic, 
      description, plot, parklotId, 
      number, size, phone, name, 
      submitTime, passTime, price, 
      day, startTime, endTime, province, 
      city, review, type)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{address,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{plot,jdbcType=VARCHAR}, #{parklotid,jdbcType=CHAR}, 
      #{number,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{phone,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{submittime,jdbcType=TIMESTAMP}, #{passtime,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE}, 
      #{day,jdbcType=DATE}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{review,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.luo.yiting.bean.UserSharePark" >
    insert into user_share_park
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="plot != null" >
        plot,
      </if>
      <if test="parklotid != null" >
        parklotId,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="submittime != null" >
        submitTime,
      </if>
      <if test="passtime != null" >
        passTime,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="review != null" >
        review,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="plot != null" >
        #{plot,jdbcType=VARCHAR},
      </if>
      <if test="parklotid != null" >
        #{parklotid,jdbcType=CHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="passtime != null" >
        #{passtime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIME},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="review != null" >
        #{review,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luo.yiting.bean.UserShareParkExample" resultType="java.lang.Integer" >
    select count(*) from user_share_park
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_share_park
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.plot != null" >
        plot = #{record.plot,jdbcType=VARCHAR},
      </if>
      <if test="record.parklotid != null" >
        parklotId = #{record.parklotid,jdbcType=CHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.submittime != null" >
        submitTime = #{record.submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.passtime != null" >
        passTime = #{record.passtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=DATE},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIME},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIME},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.review != null" >
        review = #{record.review,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_share_park
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      address = #{record.address,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      plot = #{record.plot,jdbcType=VARCHAR},
      parklotId = #{record.parklotid,jdbcType=CHAR},
      number = #{record.number,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      submitTime = #{record.submittime,jdbcType=TIMESTAMP},
      passTime = #{record.passtime,jdbcType=TIMESTAMP},
      price = #{record.price,jdbcType=DOUBLE},
      day = #{record.day,jdbcType=DATE},
      startTime = #{record.starttime,jdbcType=TIME},
      endTime = #{record.endtime,jdbcType=TIME},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      review = #{record.review,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luo.yiting.bean.UserSharePark" >
    update user_share_park
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="plot != null" >
        plot = #{plot,jdbcType=VARCHAR},
      </if>
      <if test="parklotid != null" >
        parklotId = #{parklotid,jdbcType=CHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        submitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="passtime != null" >
        passTime = #{passtime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=DATE},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="review != null" >
        review = #{review,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luo.yiting.bean.UserSharePark" >
    update user_share_park
    set userId = #{userid,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      address = #{address,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      plot = #{plot,jdbcType=VARCHAR},
      parklotId = #{parklotid,jdbcType=CHAR},
      number = #{number,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      phone = #{phone,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      submitTime = #{submittime,jdbcType=TIMESTAMP},
      passTime = #{passtime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      day = #{day,jdbcType=DATE},
      startTime = #{starttime,jdbcType=TIME},
      endTime = #{endtime,jdbcType=TIME},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      review = #{review,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>